In [459]:
import pandas as pd
from pymongo import MongoClient
import warnings
import re
from fuzzywuzzy import fuzz
import numpy as np
import json

#### Loading Data

In [461]:
client = MongoClient()
client.list_database_names()

['admin',
 'books',
 'catalog',
 'config',
 'events',
 'legistlation',
 'local',
 'resumes']

In [463]:
resumes = client.resumes.resumes
resumes.count()

29634

In [5]:
df = pd.DataFrame(list(resumes.find({'Title':{'$exists': 1}},
                                    {'Title': 1, 'Companies': 1, 'Resume Summary': 1, 'Current Location': 1, 
                                     'Start Dates': 1, 'Work Experiences': 1, 'Universities': 1, 'Degrees': 1,
                                     'in': 1, 'Skills': 1, 'Additionals': 1, 'Link': 1, 'Whole Resume': 1,
                                     '_id': 0})))

In [6]:
df.head()

,Additionals,Companies,Current Location,Degrees,Link,Resume Summary,Skills,Start Dates,Title,Universities,Whole Resume,Work Experiences,in
0,[Additional InformationSkills• Financial repor...,"[Yoox Net-A-Porter Group, Yoox Net-A-Porter Gr...",[],[Bachelor's],/resume/0002cdce16f56ac0?s=l%3D%26q%3DData%252...,[Goal-oriented team player with experience in ...,"[Business Administration and Marketing, CUSTOM...",[May 2012],[Financial Data Analyst],[Bloomsburg University of Pennsylvania],[Financial Data AnalystFinancial Data Analyst ...,[• Formulate sales reports and other metrics u...,[Business Administration and Marketing]
1,[Additional InformationSkillsTechnical: Profic...,"[Thimble LLC/DHS contract, Florida State Unive...","[Washington, DC]",[B.S. in Statistics],/resume/000407ced092c381?s=l%3D%26q%3DData%252...,"[Detail-oriented, methodical, and analytical, ...","[Statistics, Microsoft Office, 5 years, SAS, 2...",[May 2016],[Data Analyst],[Florida State University],"[Data AnalystWashington, DCDetail-oriented, me...",[Manually adjusted and corrected data collecti...,[Statistics]
2,[Additional InformationTechnical Skills- Windo...,"[New York State Office of Mental Health, New Y...","[New York, NY]","[Master of Science, Bachelor of Engineering]",/resume/000488d3ffec9813?s=l%3D%26q%3DData%252...,[Over 15 years of experience in information te...,"[Information Systems, Mechanical and Productio...",[January 2000],[Business Intelligence/Data Warehouse Architect],"[Arizona State University, Annamalai University]",[Business Intelligence/Data Warehouse Architec...,[- Worked on Data Warehouse projects from ince...,"[Information Systems, Mechanical and Production]"
3,[Additional InformationTechnical Skills- Windo...,"[New York State Office of Mental Health, New Y...","[New York, NY]","[Master of Science, Bachelor of Engineering]",/resume/000488d3ffec9813?s=l%3D%26q%3DData%252...,[Over 15 years of experience in information te...,"[Information Systems, Mechanical and Productio...",[January 2000],[Business Intelligence/Data Warehouse Architect],"[Arizona State University, Annamalai University]",[Business Intelligence/Data Warehouse Architec...,[- Worked on Data Warehouse projects from ince...,"[Information Systems, Mechanical and Production]"
4,[Certifications/LicensesLooker Data Analyst & ...,"[Big Squid, Python, Marketware, PwC, The Unive...","[Salt Lake City, UT]","[M.S., BS]",/resume/0006d4f5109dfb54?s=l%3D%26q%3DData%252...,"[As the Lead Data Consultant at Big Squid, I s...","[Information Systems, Accounting, Snowflake, L...",[August 2012],[Lead Data Consultant],"[The University of Utah, BYU-Idaho]",[Lead Data ConsultantData Analytics Consultant...,[- Built our data warehousing and data enginee...,"[Information Systems, Accounting]"

#### One Big Cleaning Function

In [475]:
def cleaning(df):
    
    # columns
    df_ = df[['Additionals', 'Companies', 'Current Location', 'Degrees',
       'Resume Summary', 'Skills', 'Start Dates', 'Title', 'Universities',
       'Whole Resume', 'Work Experiences', 'in']]
    
    # append skills and get rid of duplicate scrapes in the 'in' column
    only_skillz_list = []
    for skillz, degreez in zip(df_['Skills'], df_['in']):
        only_skillz_list.append([skill for skill in skillz if skill not in degreez])
    df_['Skills'] = only_skillz_list
    
    # remove brackets and ''
    for column in df_.columns:
        df_[column] = [element[1:-1] for element in df_[column].astype(str)]
    
    # remove duplicates and reset index
    df_.drop_duplicates(keep='first',inplace=True)
    df_.reset_index(drop=True,inplace=True)
    
    # only include rows where there are no error fields
    df_ = df_[df_['Additionals'] != "'error'"]
    
    # remove text with weird symbols as this could be picked up in our W2V model
    per_column = []
    for column in df_.columns:
        column_lis = []
        for element in df_[column]:
            text = []
            element = element.replace("Additional Information","").replace("Work Experience",
                                "").replace("Certifications","").replace("'error'","").replace("SKILLS","")
            for words in element.split():
                words = words.replace("●","").replace("•","").replace("◆","").replace("❖","").replace("✓",
                        "").replace("★","").replace("☆","").replace("➢","")
                text.extend(re.findall('[A-Z]*[^A-Z]+', words))
            text = " ".join(text)
            column_lis.append(text)
        per_column.append(column_lis)

    for column, i in zip(df_.columns, range(len(df_.columns))):
        df_[column] = per_column[i]
    
    # calculate years of work experience based on start date
    starts = []
    for date in df_['Start Dates']:
        try:
            starts.append(2018 - eval(date.split()[2][:4]))
        except:
            starts.append("")
    df_['Start Dates'] = starts
    
    # classifying job titles according to these 3 roles (y-dependent variables)
    roles = []
    for role in df_['Title']:
        if (fuzz.partial_ratio(role, 'Scientist') == 100) or (fuzz.partial_ratio(role, 'Science') == 100)\
         or (fuzz.partial_ratio(role, 'Machine Learning') == 100):
            roles.append('Scientist')
        elif (fuzz.partial_ratio(role, 'Engineer') == 100) or (fuzz.partial_ratio(role, 'Warehous') == 100)\
         or (fuzz.partial_ratio(role, 'Architect') == 100) or (fuzz.partial_ratio(role, 'Big Data') == 100)\
            or (fuzz.partial_ratio(role, 'Developer') == 100):
            roles.append('Engineer')
        elif (fuzz.partial_ratio(role, 'Analyst') == 100) or (fuzz.partial_ratio(role, 'Analytics') == 100)\
         or (fuzz.partial_ratio(role, 'Associate') == 100) or (fuzz.partial_ratio(role, 'Intelligen') == 100):
            roles.append('Analyst')
        elif (fuzz.partial_ratio(role, 'Intern') == 100):
            roles.append('None')
        else:
            roles.append('None')
    df_['y'] = roles
    df_usable = df_[df_['y'] != 'None']
    df_usable = pd.concat([df_usable, pd.get_dummies(df_usable['y'])], axis=1)
    
    # label items that were additionally scraped
    what = []
    for additional in df_usable['Additionals']:
        if (fuzz.partial_ratio(additional, 'Additional Information') == 100):
            what.append('Additionals')
        elif (fuzz.partial_ratio(additional, 'Skills') == 100):
            what.append('Skills')
        elif (fuzz.partial_ratio(additional, 'Education') == 100):
            what.append('Education')
        elif (fuzz.partial_ratio(additional, 'Links') == 100):
            what.append('Links')
        elif (fuzz.partial_ratio(additional, 'Work Experience') == 100):
            what.append('Exp')
        else:
            what.append('Other')
    df_usable['What'] = what
    
    # remove duplicates, leave blank
    for item in ['Skills','Education','Links','Exp']:
        mask = df_usable[df_usable['What'] == item]
        mask[['Additionals']] = " "
        df_usable[df_usable['What'] == item] = mask
    
    # identify types of degrees - bachelors, masters, PhDs and number
    degrees = []
    for degree in df_usable['Degrees']:
        degree = degree.split(", ")
        d = []
        for deg in degree:
            try:
                d.append(deg[2])
            except:
                d.append(deg)
        degrees.append(d)

    df_usable['Degs'] = degrees
    df_usable['Degs'] = df_usable['Degs'].astype(str)
    df_usable['Degs'] = df_usable['Degs'].str.strip("[]")
    B = []
    M = []
    P = []
    
    for degree in df_usable['Degs']:
        bt = 0
        mt = 0
        pt = 0
        for deg in degree:
            if 'B' in deg:
                bt += 1
            if 'M' in deg:
                mt += 1
            if 'P' in deg:
                pt += 1
        B.append(bt)
        M.append(mt)
        P.append(pt)
    df_usable['Bachelors'] = B
    df_usable['Masters'] = M
    df_usable['PhD'] = P

    warnings.filterwarnings('ignore')
    
    return df_usable

df_usable = cleaning(df)

#### Store cleaned data in MongoDB.

In [477]:
client = MongoClient('localhost', 27017)
db = client['resumes']

df_clean = json.loads(df_usable.T.to_json()).values()
db.resumes_cleaned.insert(df_clean)

[ObjectId('5b981a629bd8d25761955744'),
 ObjectId('5b981a629bd8d25761955745'),
 ObjectId('5b981a629bd8d25761955746'),
 ObjectId('5b981a629bd8d25761955747'),
 ObjectId('5b981a629bd8d25761955748'),
 ObjectId('5b981a629bd8d25761955749'),
 ObjectId('5b981a629bd8d2576195574a'),
 ObjectId('5b981a629bd8d2576195574b'),
 ObjectId('5b981a629bd8d2576195574c'),
 ObjectId('5b981a629bd8d2576195574d'),
 ObjectId('5b981a629bd8d2576195574e'),
 ObjectId('5b981a629bd8d2576195574f'),
 ObjectId('5b981a629bd8d25761955750'),
 ObjectId('5b981a629bd8d25761955751'),
 ObjectId('5b981a629bd8d25761955752'),
 ObjectId('5b981a629bd8d25761955753'),
 ObjectId('5b981a629bd8d25761955754'),
 ObjectId('5b981a629bd8d25761955755'),
 ObjectId('5b981a629bd8d25761955756'),
 ObjectId('5b981a629bd8d25761955757'),
 ObjectId('5b981a629bd8d25761955758'),
 ObjectId('5b981a629bd8d25761955759'),
 ObjectId('5b981a629bd8d2576195575a'),
 ObjectId('5b981a629bd8d2576195575b'),
 ObjectId('5b981a629bd8d2576195575c'),
 ObjectId('5b981a629bd8d2576195575d'),
 ObjectId('5b981a629bd8d2576195575e'),
 ObjectId('5b981a629bd8d2576195575f'),
 ObjectId('5b981a629bd8d25761955760'),
 ObjectId('5b981a629bd8d25761955761'),
 ObjectId('5b981a629bd8d25761955762'),
 ObjectId('5b981a629bd8d25761955763'),
 ObjectId('5b981a629bd8d25761955764'),
 ObjectId('5b981a629bd8d25761955765'),
 ObjectId('5b981a629bd8d25761955766'),
 ObjectId('5b981a629bd8d25761955767'),
 ObjectId('5b981a629bd8d25761955768'),
 ObjectId('5b981a629bd8d25761955769'),
 ObjectId('5b981a629bd8d2576195576a'),
 ObjectId('5b981a629bd8d2576195576b'),
 ObjectId('5b981a629bd8d2576195576c'),
 ObjectId('5b981a629bd8d2576195576d'),
 ObjectId('5b981a629bd8d2576195576e'),
 ObjectId('5b981a629bd8d2576195576f'),
 ObjectId('5b981a629bd8d25761955770'),
 ObjectId('5b981a629bd8d25761955771'),
 ObjectId('5b981a629bd8d25761955772'),
 ObjectId('5b981a629bd8d25761955773'),
 ObjectId('5b981a629bd8d25761955774'),
 ObjectId('5b981a629bd8d25761955775'),
 ObjectId('5b981a629bd8d25761955776'),
 ObjectId('5b981a629bd8d25761955777'),
 ObjectId('5b981a629bd8d25761955778'),
 ObjectId('5b981a629bd8d25761955779'),
 ObjectId('5b981a629bd8d2576195577a'),
 ObjectId('5b981a629bd8d2576195577b'),
 ObjectId('5b981a629bd8d2576195577c'),
 ObjectId('5b981a629bd8d2576195577d'),
 ObjectId('5b981a629bd8d2576195577e'),
 ObjectId('5b981a629bd8d2576195577f'),
 ObjectId('5b981a629bd8d25761955780'),
 ObjectId('5b981a629bd8d25761955781'),
 ObjectId('5b981a629bd8d25761955782'),
 ObjectId('5b981a629bd8d25761955783'),
 ObjectId('5b981a629bd8d25761955784'),
 ObjectId('5b981a629bd8d25761955785'),
 ObjectId('5b981a629bd8d25761955786'),
 ObjectId('5b981a629bd8d25761955787'),
 ObjectId('5b981a629bd8d25761955788'),
 ObjectId('5b981a629bd8d25761955789'),
 ObjectId('5b981a629bd8d2576195578a'),
 ObjectId('5b981a629bd8d2576195578b'),
 ObjectId('5b981a629bd8d2576195578c'),
 ObjectId('5b981a629bd8d2576195578d'),
 ObjectId('5b981a629bd8d2576195578e'),
 ObjectId('5b981a629bd8d2576195578f'),
 ObjectId('5b981a629bd8d25761955790'),
 ObjectId('5b981a629bd8d25761955791'),
 ObjectId('5b981a629bd8d25761955792'),
 ObjectId('5b981a629bd8d25761955793'),
 ObjectId('5b981a629bd8d25761955794'),
 ObjectId('5b981a629bd8d25761955795'),
 ObjectId('5b981a629bd8d25761955796'),
 ObjectId('5b981a629bd8d25761955797'),
 ObjectId('5b981a629bd8d25761955798'),
 ObjectId('5b981a629bd8d25761955799'),
 ObjectId('5b981a629bd8d2576195579a'),
 ObjectId('5b981a629bd8d2576195579b'),
 ObjectId('5b981a629bd8d2576195579c'),
 ObjectId('5b981a629bd8d2576195579d'),
 ObjectId('5b981a629bd8d2576195579e'),
 ObjectId('5b981a629bd8d2576195579f'),
 ObjectId('5b981a629bd8d257619557a0'),
 ObjectId('5b981a629bd8d257619557a1'),
 ObjectId('5b981a629bd8d257619557a2'),
 ObjectId('5b981a629bd8d257619557a3'),
 ObjectId('5b981a629bd8d257619557a4'),
 ObjectId('5b981a629bd8d257619557a5'),
 ObjectId('5b981a629bd8d257619557a6'),
 ObjectId('5b981a629bd8d257619557a7'),
 ObjectId('5b981a629bd8d257619557a8'),
 ObjectId('5b981a629bd8d257619557a9'),
 ObjectId('5b981a629bd8d257619557aa'),
 ObjectId('5b981a629bd8d257619557ab'),
 ObjectId('5b981a629bd8d257619557ac'),
 ObjectId('5b981a629bd8d257619557ad'),
 ObjectId('5b981a629bd8d257619557ae'),
 ObjectId('5b981a629bd8d257619557af'),
 ObjectId('5b981a629bd8d257619557b0'),
 ObjectId('5b981a629bd8d257619557b1'),
 ObjectId('5b981a629bd8d257619557b2'),
 ObjectId('5b981a629bd8d257619557b3'),
 ObjectId('5b981a629bd8d257619557b4'),
 ObjectId('5b981a629bd8d257619557b5'),
 ObjectId('5b981a629bd8d257619557b6'),
 ObjectId('5b981a629bd8d257619557b7'),
 ObjectId('5b981a629bd8d257619557b8'),
 ObjectId('5b981a629bd8d257619557b9'),
 ObjectId('5b981a629bd8d257619557ba'),
 ObjectId('5b981a629bd8d257619557bb'),
 ObjectId('5b981a629bd8d257619557bc'),
 ObjectId('5b981a629bd8d257619557bd'),
 ObjectId('5b981a629bd8d257619557be'),
 ObjectId('5b981a629bd8d257619557bf'),
 ObjectId('5b981a629bd8d257619557c0'),
 ObjectId('5b981a629bd8d257619557c1'),
 ObjectId('5b981a629bd8d257619557c2'),
 ObjectId('5b981a629bd8d257619557c3'),
 ObjectId('5b981a629bd8d257619557c4'),
 ObjectId('5b981a629bd8d257619557c5'),
 ObjectId('5b981a629bd8d257619557c6'),
 ObjectId('5b981a629bd8d257619557c7'),
 ObjectId('5b981a629bd8d257619557c8'),
 ObjectId('5b981a629bd8d257619557c9'),
 ObjectId('5b981a629bd8d257619557ca'),
 ObjectId('5b981a629bd8d257619557cb'),
 ObjectId('5b981a629bd8d257619557cc'),
 ObjectId('5b981a629bd8d257619557cd'),
 ObjectId('5b981a629bd8d257619557ce'),
 ObjectId('5b981a629bd8d257619557cf'),
 ObjectId('5b981a629bd8d257619557d0'),
 ObjectId('5b981a629bd8d257619557d1'),
 ObjectId('5b981a629bd8d257619557d2'),
 ObjectId('5b981a629bd8d257619557d3'),
 ObjectId('5b981a629bd8d257619557d4'),
 ObjectId('5b981a629bd8d257619557d5'),
 ObjectId('5b981a629bd8d257619557d6'),
 ObjectId('5b981a629bd8d257619557d7'),
 ObjectId('5b981a629bd8d257619557d8'),
 ObjectId('5b981a629bd8d257619557d9'),
 ObjectId('5b981a629bd8d257619557da'),
 ObjectId('5b981a629bd8d257619557db'),
 ObjectId('5b981a629bd8d257619557dc'),
 ObjectId('5b981a629bd8d257619557dd'),
 ObjectId('5b981a629bd8d257619557de'),
 ObjectId('5b981a629bd8d257619557df'),
 ObjectId('5b981a629bd8d257619557e0'),
 ObjectId('5b981a629bd8d257619557e1'),
 ObjectId('5b981a629bd8d257619557e2'),
 ObjectId('5b981a629bd8d257619557e3'),
 ObjectId('5b981a629bd8d257619557e4'),
 ObjectId('5b981a629bd8d257619557e5'),
 ObjectId('5b981a629bd8d257619557e6'),
 ObjectId('5b981a629bd8d257619557e7'),
 ObjectId('5b981a629bd8d257619557e8'),
 ObjectId('5b981a629bd8d257619557e9'),
 ObjectId('5b981a629bd8d257619557ea'),
 ObjectId('5b981a629bd8d257619557eb'),
 ObjectId('5b981a629bd8d257619557ec'),
 ObjectId('5b981a629bd8d257619557ed'),
 ObjectId('5b981a629bd8d257619557ee'),
 ObjectId('5b981a629bd8d257619557ef'),
 ObjectId('5b981a629bd8d257619557f0'),
 ObjectId('5b981a629bd8d257619557f1'),
 ObjectId('5b981a629bd8d257619557f2'),
 ObjectId('5b981a629bd8d257619557f3'),
 ObjectId('5b981a629bd8d257619557f4'),
 ObjectId('5b981a629bd8d257619557f5'),
 ObjectId('5b981a629bd8d257619557f6'),
 ObjectId('5b981a629bd8d257619557f7'),
 ObjectId('5b981a629bd8d257619557f8'),
 ObjectId('5b981a629bd8d257619557f9'),
 ObjectId('5b981a629bd8d257619557fa'),
 ObjectId('5b981a629bd8d257619557fb'),
 ObjectId('5b981a629bd8d257619557fc'),
 ObjectId('5b981a629bd8d257619557fd'),
 ObjectId('5b981a629bd8d257619557fe'),
 ObjectId('5b981a629bd8d257619557ff'),
 ObjectId('5b981a629bd8d25761955800'),
 ObjectId('5b981a629bd8d25761955801'),
 ObjectId('5b981a629bd8d25761955802'),
 ObjectId('5b981a629bd8d25761955803'),
 ObjectId('5b981a629bd8d25761955804'),
 ObjectId('5b981a629bd8d25761955805'),
 ObjectId('5b981a629bd8d25761955806'),
 ObjectId('5b981a629bd8d25761955807'),
 ObjectId('5b981a629bd8d25761955808'),
 ObjectId('5b981a629bd8d25761955809'),
 ObjectId('5b981a629bd8d2576195580a'),
 ObjectId('5b981a629bd8d2576195580b'),
 ObjectId('5b981a629bd8d2576195580c'),
 ObjectId('5b981a629bd8d2576195580d'),
 ObjectId('5b981a629bd8d2576195580e'),
 ObjectId('5b981a629bd8d2576195580f'),
 ObjectId('5b981a629bd8d25761955810'),
 ObjectId('5b981a629bd8d25761955811'),
 ObjectId('5b981a629bd8d25761955812'),
 ObjectId('5b981a629bd8d25761955813'),
 ObjectId('5b981a629bd8d25761955814'),
 ObjectId('5b981a629bd8d25761955815'),
 ObjectId('5b981a629bd8d25761955816'),
 ObjectId('5b981a629bd8d25761955817'),
 ObjectId('5b981a629bd8d25761955818'),
 ObjectId('5b981a629bd8d25761955819'),
 ObjectId('5b981a629bd8d2576195581a'),
 ObjectId('5b981a629bd8d2576195581b'),
 ObjectId('5b981a629bd8d2576195581c'),
 ObjectId('5b981a629bd8d2576195581d'),
 ObjectId('5b981a629bd8d2576195581e'),
 ObjectId('5b981a629bd8d2576195581f'),
 ObjectId('5b981a629bd8d25761955820'),
 ObjectId('5b981a629bd8d25761955821'),
 ObjectId('5b981a629bd8d25761955822'),
 ObjectId('5b981a629bd8d25761955823'),
 ObjectId('5b981a629bd8d25761955824'),
 ObjectId('5b981a629bd8d25761955825'),
 ObjectId('5b981a629bd8d25761955826'),
 ObjectId('5b981a629bd8d25761955827'),
 ObjectId('5b981a629bd8d25761955828'),
 ObjectId('5b981a629bd8d25761955829'),
 ObjectId('5b981a629bd8d2576195582a'),
 ObjectId('5b981a629bd8d2576195582b'),
 ObjectId('5b981a629bd8d2576195582c'),
 ObjectId('5b981a629bd8d2576195582d'),
 ObjectId('5b981a629bd8d2576195582e'),
 ObjectId('5b981a629bd8d2576195582f'),
 ObjectId('5b981a629bd8d25761955830'),
 ObjectId('5b981a629bd8d25761955831'),
 ObjectId('5b981a629bd8d25761955832'),
 ObjectId('5b981a629bd8d25761955833'),
 ObjectId('5b981a629bd8d25761955834'),
 ObjectId('5b981a629bd8d25761955835'),
 ObjectId('5b981a629bd8d25761955836'),
 ObjectId('5b981a629bd8d25761955837'),
 ObjectId('5b981a629bd8d25761955838'),
 ObjectId('5b981a629bd8d25761955839'),
 ObjectId('5b981a629bd8d2576195583a'),
 ObjectId('5b981a629bd8d2576195583b'),
 ObjectId('5b981a629bd8d2576195583c'),
 ObjectId('5b981a629bd8d2576195583d'),
 ObjectId('5b981a629bd8d2576195583e'),
 ObjectId('5b981a629bd8d2576195583f'),
 ObjectId('5b981a629bd8d25761955840'),
 ObjectId('5b981a629bd8d25761955841'),
 ObjectId('5b981a629bd8d25761955842'),
 ObjectId('5b981a629bd8d25761955843'),
 ObjectId('5b981a629bd8d25761955844'),
 ObjectId('5b981a629bd8d25761955845'),
 ObjectId('5b981a629bd8d25761955846'),
 ObjectId('5b981a629bd8d25761955847'),
 ObjectId('5b981a629bd8d25761955848'),
 ObjectId('5b981a629bd8d25761955849'),
 ObjectId('5b981a629bd8d2576195584a'),
 ObjectId('5b981a629bd8d2576195584b'),
 ObjectId('5b981a629bd8d2576195584c'),
 ObjectId('5b981a629bd8d2576195584d'),
 ObjectId('5b981a629bd8d2576195584e'),
 ObjectId('5b981a629bd8d2576195584f'),
 ObjectId('5b981a629bd8d25761955850'),
 ObjectId('5b981a629bd8d25761955851'),
 ObjectId('5b981a629bd8d25761955852'),
 ObjectId('5b981a629bd8d25761955853'),
 ObjectId('5b981a629bd8d25761955854'),
 ObjectId('5b981a629bd8d25761955855'),
 ObjectId('5b981a629bd8d25761955856'),
 ObjectId('5b981a629bd8d25761955857'),
 ObjectId('5b981a629bd8d25761955858'),
 ObjectId('5b981a629bd8d25761955859'),
 ObjectId('5b981a629bd8d2576195585a'),
 ObjectId('5b981a629bd8d2576195585b'),
 ObjectId('5b981a629bd8d2576195585c'),
 ObjectId('5b981a629bd8d2576195585d'),
 ObjectId('5b981a629bd8d2576195585e'),
 ObjectId('5b981a629bd8d2576195585f'),
 ObjectId('5b981a629bd8d25761955860'),
 ObjectId('5b981a629bd8d25761955861'),
 ObjectId('5b981a629bd8d25761955862'),
 ObjectId('5b981a629bd8d25761955863'),
 ObjectId('5b981a629bd8d25761955864'),
 ObjectId('5b981a629bd8d25761955865'),
 ObjectId('5b981a629bd8d25761955866'),
 ObjectId('5b981a629bd8d25761955867'),
 ObjectId('5b981a629bd8d25761955868'),
 ObjectId('5b981a629bd8d25761955869'),
 ObjectId('5b981a629bd8d2576195586a'),
 ObjectId('5b981a629bd8d2576195586b'),
 ObjectId('5b981a629bd8d2576195586c'),
 ObjectId('5b981a639bd8d2576195586d'),
 ObjectId('5b981a639bd8d2576195586e'),
 ObjectId('5b981a639bd8d2576195586f'),
 ObjectId('5b981a639bd8d25761955870'),
 ObjectId('5b981a639bd8d25761955871'),
 ObjectId('5b981a639bd8d25761955872'),
 ObjectId('5b981a639bd8d25761955873'),
 ObjectId('5b981a639bd8d25761955874'),
 ObjectId('5b981a639bd8d25761955875'),
 ObjectId('5b981a639bd8d25761955876'),
 ObjectId('5b981a639bd8d25761955877'),
 ObjectId('5b981a639bd8d25761955878'),
 ObjectId('5b981a639bd8d25761955879'),
 ObjectId('5b981a639bd8d2576195587a'),
 ObjectId('5b981a639bd8d2576195587b'),
 ObjectId('5b981a639bd8d2576195587c'),
 ObjectId('5b981a639bd8d2576195587d'),
 ObjectId('5b981a639bd8d2576195587e'),
 ObjectId('5b981a639bd8d2576195587f'),
 ObjectId('5b981a639bd8d25761955880'),
 ObjectId('5b981a639bd8d25761955881'),
 ObjectId('5b981a639bd8d25761955882'),
 ObjectId('5b981a639bd8d25761955883'),
 ObjectId('5b981a639bd8d25761955884'),
 ObjectId('5b981a639bd8d25761955885'),
 ObjectId('5b981a639bd8d25761955886'),
 ObjectId('5b981a639bd8d25761955887'),
 ObjectId('5b981a639bd8d25761955888'),
 ObjectId('5b981a639bd8d25761955889'),
 ObjectId('5b981a639bd8d2576195588a'),
 ObjectId('5b981a639bd8d2576195588b'),
 ObjectId('5b981a639bd8d2576195588c'),
 ObjectId('5b981a639bd8d2576195588d'),
 ObjectId('5b981a639bd8d2576195588e'),
 ObjectId('5b981a639bd8d2576195588f'),
 ObjectId('5b981a639bd8d25761955890'),
 ObjectId('5b981a639bd8d25761955891'),
 ObjectId('5b981a639bd8d25761955892'),
 ObjectId('5b981a639bd8d25761955893'),
 ObjectId('5b981a639bd8d25761955894'),
 ObjectId('5b981a639bd8d25761955895'),
 ObjectId('5b981a639bd8d25761955896'),
 ObjectId('5b981a639bd8d25761955897'),
 ObjectId('5b981a639bd8d25761955898'),
 ObjectId('5b981a639bd8d25761955899'),
 ObjectId('5b981a639bd8d2576195589a'),
 ObjectId('5b981a639bd8d2576195589b'),
 ObjectId('5b981a639bd8d2576195589c'),
 ObjectId('5b981a639bd8d2576195589d'),
 ObjectId('5b981a639bd8d2576195589e'),
 ObjectId('5b981a639bd8d2576195589f'),
 ObjectId('5b981a639bd8d257619558a0'),
 ObjectId('5b981a639bd8d257619558a1'),
 ObjectId('5b981a639bd8d257619558a2'),
 ObjectId('5b981a639bd8d257619558a3'),
 ObjectId('5b981a639bd8d257619558a4'),
 ObjectId('5b981a639bd8d257619558a5'),
 ObjectId('5b981a639bd8d257619558a6'),
 ObjectId('5b981a639bd8d257619558a7'),
 ObjectId('5b981a639bd8d257619558a8'),
 ObjectId('5b981a639bd8d257619558a9'),
 ObjectId('5b981a639bd8d257619558aa'),
 ObjectId('5b981a639bd8d257619558ab'),
 ObjectId('5b981a639bd8d257619558ac'),
 ObjectId('5b981a639bd8d257619558ad'),
 ObjectId('5b981a639bd8d257619558ae'),
 ObjectId('5b981a639bd8d257619558af'),
 ObjectId('5b981a639bd8d257619558b0'),
 ObjectId('5b981a639bd8d257619558b1'),
 ObjectId('5b981a639bd8d257619558b2'),
 ObjectId('5b981a639bd8d257619558b3'),
 ObjectId('5b981a639bd8d257619558b4'),
 ObjectId('5b981a639bd8d257619558b5'),
 ObjectId('5b981a639bd8d257619558b6'),
 ObjectId('5b981a639bd8d257619558b7'),
 ObjectId('5b981a639bd8d257619558b8'),
 ObjectId('5b981a639bd8d257619558b9'),
 ObjectId('5b981a639bd8d257619558ba'),
 ObjectId('5b981a639bd8d257619558bb'),
 ObjectId('5b981a639bd8d257619558bc'),
 ObjectId('5b981a639bd8d257619558bd'),
 ObjectId('5b981a639bd8d257619558be'),
 ObjectId('5b981a639bd8d257619558bf'),
 ObjectId('5b981a639bd8d257619558c0'),
 ObjectId('5b981a639bd8d257619558c1'),
 ObjectId('5b981a639bd8d257619558c2'),
 ObjectId('5b981a639bd8d257619558c3'),
 ObjectId('5b981a639bd8d257619558c4'),
 ObjectId('5b981a639bd8d257619558c5'),
 ObjectId('5b981a639bd8d257619558c6'),
 ObjectId('5b981a639bd8d257619558c7'),
 ObjectId('5b981a639bd8d257619558c8'),
 ObjectId('5b981a639bd8d257619558c9'),
 ObjectId('5b981a639bd8d257619558ca'),
 ObjectId('5b981a639bd8d257619558cb'),
 ObjectId('5b981a639bd8d257619558cc'),
 ObjectId('5b981a639bd8d257619558cd'),
 ObjectId('5b981a639bd8d257619558ce'),
 ObjectId('5b981a639bd8d257619558cf'),
 ObjectId('5b981a639bd8d257619558d0'),
 ObjectId('5b981a639bd8d257619558d1'),
 ObjectId('5b981a639bd8d257619558d2'),
 ObjectId('5b981a639bd8d257619558d3'),
 ObjectId('5b981a639bd8d257619558d4'),
 ObjectId('5b981a639bd8d257619558d5'),
 ObjectId('5b981a639bd8d257619558d6'),
 ObjectId('5b981a639bd8d257619558d7'),
 ObjectId('5b981a639bd8d257619558d8'),
 ObjectId('5b981a639bd8d257619558d9'),
 ObjectId('5b981a639bd8d257619558da'),
 ObjectId('5b981a639bd8d257619558db'),
 ObjectId('5b981a639bd8d257619558dc'),
 ObjectId('5b981a639bd8d257619558dd'),
 ObjectId('5b981a639bd8d257619558de'),
 ObjectId('5b981a639bd8d257619558df'),
 ObjectId('5b981a639bd8d257619558e0'),
 ObjectId('5b981a639bd8d257619558e1'),
 ObjectId('5b981a639bd8d257619558e2'),
 ObjectId('5b981a639bd8d257619558e3'),
 ObjectId('5b981a639bd8d257619558e4'),
 ObjectId('5b981a639bd8d257619558e5'),
 ObjectId('5b981a639bd8d257619558e6'),
 ObjectId('5b981a639bd8d257619558e7'),
 ObjectId('5b981a639bd8d257619558e8'),
 ObjectId('5b981a639bd8d257619558e9'),
 ObjectId('5b981a639bd8d257619558ea'),
 ObjectId('5b981a639bd8d257619558eb'),
 ObjectId('5b981a639bd8d257619558ec'),
 ObjectId('5b981a639bd8d257619558ed'),
 ObjectId('5b981a639bd8d257619558ee'),
 ObjectId('5b981a639bd8d257619558ef'),
 ObjectId('5b981a639bd8d257619558f0'),
 ObjectId('5b981a639bd8d257619558f1'),
 ObjectId('5b981a639bd8d257619558f2'),
 ObjectId('5b981a639bd8d257619558f3'),
 ObjectId('5b981a639bd8d257619558f4'),
 ObjectId('5b981a639bd8d257619558f5'),
 ObjectId('5b981a639bd8d257619558f6'),
 ObjectId('5b981a639bd8d257619558f7'),
 ObjectId('5b981a639bd8d257619558f8'),
 ObjectId('5b981a639bd8d257619558f9'),
 ObjectId('5b981a639bd8d257619558fa'),
 ObjectId('5b981a639bd8d257619558fb'),
 ObjectId('5b981a639bd8d257619558fc'),
 ObjectId('5b981a639bd8d257619558fd'),
 ObjectId('5b981a639bd8d257619558fe'),
 ObjectId('5b981a639bd8d257619558ff'),
 ObjectId('5b981a639bd8d25761955900'),
 ObjectId('5b981a639bd8d25761955901'),
 ObjectId('5b981a639bd8d25761955902'),
 ObjectId('5b981a639bd8d25761955903'),
 ObjectId('5b981a639bd8d25761955904'),
 ObjectId('5b981a639bd8d25761955905'),
 ObjectId('5b981a639bd8d25761955906'),
 ObjectId('5b981a639bd8d25761955907'),
 ObjectId('5b981a639bd8d25761955908'),
 ObjectId('5b981a639bd8d25761955909'),
 ObjectId('5b981a639bd8d2576195590a'),
 ObjectId('5b981a639bd8d2576195590b'),
 ObjectId('5b981a639bd8d2576195590c'),
 ObjectId('5b981a639bd8d2576195590d'),
 ObjectId('5b981a639bd8d2576195590e'),
 ObjectId('5b981a639bd8d2576195590f'),
 ObjectId('5b981a639bd8d25761955910'),
 ObjectId('5b981a639bd8d25761955911'),
 ObjectId('5b981a639bd8d25761955912'),
 ObjectId('5b981a639bd8d25761955913'),
 ObjectId('5b981a639bd8d25761955914'),
 ObjectId('5b981a639bd8d25761955915'),
 ObjectId('5b981a639bd8d25761955916'),
 ObjectId('5b981a639bd8d25761955917'),
 ObjectId('5b981a639bd8d25761955918'),
 ObjectId('5b981a639bd8d25761955919'),
 ObjectId('5b981a639bd8d2576195591a'),
 ObjectId('5b981a639bd8d2576195591b'),
 ObjectId('5b981a639bd8d2576195591c'),
 ObjectId('5b981a639bd8d2576195591d'),
 ObjectId('5b981a639bd8d2576195591e'),
 ObjectId('5b981a639bd8d2576195591f'),
 ObjectId('5b981a639bd8d25761955920'),
 ObjectId('5b981a639bd8d25761955921'),
 ObjectId('5b981a639bd8d25761955922'),
 ObjectId('5b981a639bd8d25761955923'),
 ObjectId('5b981a639bd8d25761955924'),
 ObjectId('5b981a639bd8d25761955925'),
 ObjectId('5b981a639bd8d25761955926'),
 ObjectId('5b981a639bd8d25761955927'),
 ObjectId('5b981a639bd8d25761955928'),
 ObjectId('5b981a639bd8d25761955929'),
 ObjectId('5b981a639bd8d2576195592a'),
 ObjectId('5b981a639bd8d2576195592b'),
 ObjectId('5b981a639bd8d2576195592c'),
 ObjectId('5b981a639bd8d2576195592d'),
 ObjectId('5b981a639bd8d2576195592e'),
 ObjectId('5b981a639bd8d2576195592f'),
 ObjectId('5b981a639bd8d25761955930'),
 ObjectId('5b981a639bd8d25761955931'),
 ObjectId('5b981a639bd8d25761955932'),
 ObjectId('5b981a639bd8d25761955933'),
 ObjectId('5b981a639bd8d25761955934'),
 ObjectId('5b981a639bd8d25761955935'),
 ObjectId('5b981a639bd8d25761955936'),
 ObjectId('5b981a639bd8d25761955937'),
 ObjectId('5b981a639bd8d25761955938'),
 ObjectId('5b981a639bd8d25761955939'),
 ObjectId('5b981a639bd8d2576195593a'),
 ObjectId('5b981a639bd8d2576195593b'),
 ObjectId('5b981a639bd8d2576195593c'),
 ObjectId('5b981a639bd8d2576195593d'),
 ObjectId('5b981a639bd8d2576195593e'),
 ObjectId('5b981a639bd8d2576195593f'),
 ObjectId('5b981a639bd8d25761955940'),
 ObjectId('5b981a639bd8d25761955941'),
 ObjectId('5b981a639bd8d25761955942'),
 ObjectId('5b981a639bd8d25761955943'),

In [478]:
df_usable.head()

,Additionals,Companies,Current Location,Degrees,Resume Summary,Skills,Start Dates,Title,Universities,Whole Resume,...,in,y,Analyst,Engineer,Scientist,What,Degs,Bachelors,Masters,PhD
0,,"' Yoox Net- A- Porter Group', ' Yoox Net- A- P...",'',""" Bachelor's""",' Goal-oriented team player with experience in...,"' SERVICE', '3 years', ' SALES', '3 years', ' ...",6,' Financial Data Analyst',' Bloomsburg University of Pennsylvania',""" Financial Data Analyst Financial Data Analys...",...,' Business Administration and Marketing',Analyst,1,0,0,Skills,'B',1,0,0
1,,"' Thimble LLC/ contract', ' Florida State Univ...","' Washington, DC'",' B. S. in Statistics',"' Detail-oriented, methodical, and analytical,...","' Microsoft Office', '5 years', ' SAS', '2 yea...",2,' Data Analyst',' Florida State University',"' Data Analyst Washington, DCDetail-oriented, ...",...,' Statistics',Analyst,1,0,0,Skills,'B',1,0,0
2,,"' New York State Office of Mental Health', ' N...","' New York, NY'","' Master of Science', ' Bachelor of Engineering'",' Over 15 years of experience in information t...,"' ORACLE', '10+ years', ' PL/ SQL', '10+ years...",18,' Business Intelligence/ Data Warehouse Archit...,"' Arizona State University', ' Annamalai Unive...",""" Business Intelligence/ Data Warehouse Archit...",...,"' Information Systems', ' Mechanical and Produ...",Engineer,0,1,0,Skills,"'M', 'B'",1,1,0
4,,"' Allied Benefit Systems', ' Expedia, Inc.', '...","' Chicago, IL'",' B. Sc.',,"' VBA', '3 years', ' Excel', '3 years', ' Powe...",5,' Data Analyst',' Statistics B. Sc. Concordia University Montr...,"' Data Analyst Data Analyst Bellevue, WAData A...",...,' Mathematics of Finance',Analyst,1,0,0,Skills,'B',1,0,0
5,'/ Licenses VMware Certified Professional ( VC...,"' Presidio', ' Presidio', ' Global', ' The Geo...","' Reston, VA'","' Master of Science', ' Bachelor of Engineering'",""" 6+ years of experience in Data Center design...","' Vmware', '6 years', ' Cisco', '6 years', ' E...",8,' Sr. Data Center Engineer',"' The George Washington University', ' Univers...",""" Sr. Data Center Engineer Sr. Data Center Eng...",...,"' Electrical Engineering', ' Electronics Engin...",Engineer,0,1,0,Other,"'M', 'B'",1,1,0

In [473]:
df_usable.columns

Index(['Additionals', 'Companies', 'Current Location', 'Degrees',
       'Resume Summary', 'Skills', 'Start Dates', 'Title', 'Universities',
       'Whole Resume', 'Work Experiences', 'in', 'y', 'Analyst', 'Engineer',
       'Scientist', 'What', 'Degs', 'Bachelors', 'Masters', 'PhD'],
      dtype='object')

In [450]:
pd.concat([df_usable, pd.get_dummies(df_usable['y'])], axis=1)

,Additionals,Companies,Current Location,Degrees,Resume Summary,Skills,Start Dates,Title,Universities,Whole Resume,...,in,y,What,Degs,Bachelors,Masters,PhD,Analyst,Engineer,Scientist
0,' Additional Information Skills Financial repo...,"' Yoox Net- A- Porter Group', ' Yoox Net- A- P...",'',""" Bachelor's""",' Goal-oriented team player with experience in...,"' SERVICE', '3 years', ' SALES', '3 years', ' ...",6,' Financial Data Analyst',' Bloomsburg University of Pennsylvania',""" Financial Data Analyst Financial Data Analys...",...,' Business Administration and Marketing',Analyst,Additionals,'B',1,0,0,1,0,0
1,' Additional Information Skills Technical: Pro...,"' Thimble LLC/ contract', ' Florida State Univ...","' Washington, DC'",' B. S. in Statistics',"' Detail-oriented, methodical, and analytical,...","' Microsoft Office', '5 years', ' SAS', '2 yea...",2,' Data Analyst',' Florida State University',"' Data Analyst Washington, DCDetail-oriented, ...",...,' Statistics',Analyst,Additionals,'B',1,0,0,1,0,0
2,' Additional Information Technical Skills- Win...,"' New York State Office of Mental Health', ' N...","' New York, NY'","' Master of Science', ' Bachelor of Engineering'",' Over 15 years of experience in information t...,"' ORACLE', '10+ years', ' PL/ SQL', '10+ years...",18,' Business Intelligence/ Data Warehouse Archit...,"' Arizona State University', ' Annamalai Unive...",""" Business Intelligence/ Data Warehouse Archit...",...,"' Information Systems', ' Mechanical and Produ...",Engineer,Additionals,"'M', 'B'",1,1,0,0,1,0
4,NaN,"' Allied Benefit Systems', ' Expedia, Inc.', '...","' Chicago, IL'",' B. Sc.','error',"' VBA', '3 years', ' Excel', '3 years', ' Powe...",5,' Data Analyst',' Statistics B. Sc. Concordia University Montr...,"' Data Analyst Data Analyst Bellevue, WAWork E...",...,' Mathematics of Finance',Analyst,Skills,'B',1,0,0,1,0,0
5,'/ Licenses VMware Certified Professional ( VC...,"' Presidio', ' Presidio', ' Global', ' The Geo...","' Reston, VA'","' Master of Science', ' Bachelor of Engineering'",""" 6+ years of experience in Data Center design...","' Vmware', '6 years', ' Cisco', '6 years', ' E...",8,' Sr. Data Center Engineer',"' The George Washington University', ' Univers...",""" Sr. Data Center Engineer Sr. Data Center Eng...",...,"' Electrical Engineering', ' Electronics Engin...",Engineer,Other,"'M', 'B'",1,1,0,0,1,0
6,NaN,"' Pacific Pulmonary Services', ' Pacific Pulmo...","' Bakersfield, CA'",' Pursuing Associates Degree',' Lead Data Analyst with experience interpreti...,"' Microsoft Excel', '3 years', ' Excel', ' Les...",12,' Lead Data Analyst',"' Bakersfield College', ' Ridgeview High School'","' Lead Data Analyst Bakersfield, CALead Data A...",...,,Analyst,Skills,'P',0,0,1,1,0,0
7,' Additional Information Dedicated professiona...,"' Duke- Energy', ' Kooks Custom Headers, Inc',...","' Charlotte, NC'",' Diploma','error',"' BAAN', '10+ years', ' GROUP', '6 years', ' P...",30,"' Supply Chain Data Analyst, Contractor'",' College of Technology',"' Supply Chain Data Analyst, Contractor Supply...",...,' Business Computer Applications',Analyst,Additionals,'D',0,0,0,1,0,0
8,' Additional Information SKILLSComputer Skills...,"' Willis Towers Watson', ' Design Corp', ' Fid...",'','',' Proven financial data analyst with experienc...,"' Actuarial Science', ' Actuarial Science', ' ...",1,"' Analyst, Global Data Services'","' Johns Hopkins University', ' Boston Universi...",""" Analyst, Global Data Services Analyst, Globa...",...,,Analyst,Additionals,"""''""",0,0,0,1,0,0
9,' Additional Information Highlights of Qualifi...,' Sunshine Health Plan & Superior Health Plan'...,'','','error',"' SQL', '6 years', ' CLAIMS', '3 years', ' MIC...",7,' Data Analyst II',"' Naval Nuclear Power School', ' Mc Gregor Hig...",""" Data Analyst IIData Analyst - Sunshine Healt...",...,,Analyst,Additionals,"""''""",0,0,0,1,0,0
11,""" Additional Information SKILLSI'm an eight ye...","' JPMC', ' Marriott ( Merge IT)', ' Virtu Stre...","' Ashburn, VA'",'','error',"' CISCO', '10+ years', ' RELAY', '8 years', ' ...",33,' Data Center Site Engineer',' Georgetown University Networking Training',""" Data Center Site Engineer Data Center Site E...",...,,Engineer,Additionals,"""''""",0,0,0,0,1,0
12,"' Additional Information Software Skills: SQL,...","' Asante Africa Foundation', ' Humanity Road',...",'',"' M. S.', ' B. S.'",'error',"' SQL', '2 years', ' EXCEL', '2 years', ' SAS'...",6,' Data Analyst ( Part- Time)',"' Oklahoma State University', ' University of ...",""" Data Analyst ( Part- Time) Business Data Ana...",...,"' Industrial Engineering and Management', ' El...",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
13,' Additional Information Skills Proficient wit...,"' Michael Kors', ' Jet.com and Walmart E- Comm...","' New York, NY'","' M. A.', ' B. S.'",'error',"' SQL', '1 year', ' Hive', '1 year', ' TERADAT...",2,' Data Analyst; Contractor',"' Columbia University, Graduate School of Arts...",""" Data Analyst; Contractor Data Analyst; Contr...",...,"' Statistics', ' Actuarial Science'",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
14,""" Additional Information Technical Skills Basi...","' IBM', ' Arizona State University'",'',' BA','obtain an entry-level position as a data anal...,"' DESKTOP', ' Less than 1 year', '. NET', ' Le...",0,' Data Analyst Intern',' Arizona State University',""" Data Analyst Intern Data Analyst Intern Chan...",...,' Interdisciplinary Studies',Analyst,Additionals,'B',1,0,0,1,0,0
15,NaN,"' Community Health Options', ' Natural Resourc...",'',' Masters Certificate in Applied Research & Ev...,' To acquire a full time Data/ Systems Analyti...,"' Microsoft Office, Server, Oracle My SQL, Tab...",5,' Data Analyst',"' University of Southern Maine', ' University ...",' Data Analyst Data Analyst - Community Health...,...,"' Applied Statistical Methodologies', ' Policy...",Analyst,Skills,"'M', 'M'",0,2,0,1,0,0
16,' Additional Information SKILLSMethodologies W...,"' Information Risk, Union', ' Health, Arizona'...",'',"' M. S.', ' B. E.'",' Business Intelligence Engineer with 9+ years...,"' EXCEL', '8 years', ' EXCEL', '8 years', ' AC...",9,' Sr. Data Analyst',"' Arizona State University', ' College of Tech...",""" Sr. Data Analyst Sr. Data Analyst - Informat...",...,"' Industrial Engineering', ' Production Engine...",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
17,"' Additional Information Data Analytics: SAS, ...","' RSL', ' Fang Zheng Public Accounting LLC', '...","' Plano, TX'","' Master of Business Admistration', ' Bachelor...",'error',"' EXCEL', '2 years', ' SQL', '2 years', ' ACCE...",7,' Marketing Data Analyst',"' UNIVERSITY', ' UNIVERSITY'",""" Marketing Data Analyst Marketing Data Analys...",...,"' Information Management System', ' Economics'",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
18,' Additional Information SKILLS: Data Analytic...,"' Informatica, SSIS', ' UHG', ' Nationstar Mor...","' Basking Ridge, NJ'",'',"' 10+ years of experience in Machine Learning,...","'data', 'data', 'data', ' Database', '7 years'...",11,' Sr. Data Scientist/ Data Architect',' Stanford NLP',""" Sr. Data Scientist/ Data Architect Sr. Data ...",...,'tableau desktop based on the data collected',Scientist,Additionals,"""''""",0,0,0,0,0,1
19,' Additional Information Statistics Background...,"' Infosys', ' Manhan Group, LLC', ' University...","' New York, NY'","' Master of Science', ' Bachelor of Science'",'error',"' Data Modeling', ' Data', '2 years', ' Data',...",3,' Data Associate',"' University of Massachusetts ( UMass)', ' Sta...",""" Data Associate Jamaica, NYAuthorized to work...",...,"' Biostatistics', ' Mathematics'",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
20,' Additional Information Knowledge of Rules an...,"' Masters of Taxation', ' California State Uni...","' Toronto, ON'","' Master of Science', ' Bachelor of Applied St...",'error',"' ACCESS', ' Less than 1 year', ' CHECKPOINT',...",14,' Business/ Data Analyst',"' California State University East Bay', ' Ath...",""" Business/ Data Analyst Business/ Data Analys...",...,"' Taxation', 'business, accounting, finance, i...",Analyst,Additionals,"'M', 'B', ""''""",1,1,0,1,0,0
21,' Additional Information SKILLS: Machine Learn...,"' Gilt', ' Asset Management', ' Solutions', ' ...","' New York, NY'",""" Bachelor's""",' Professional Qualified Data Scientist with o...,"' PYTHON', '6 years', ' LEARNING', '4 years', ...",8,' Data Scientist','',' Data Scientist Data Scientist - Gilt New Yor...,...,,Scientist,Additionals,'B',1,0,0,0,0,1
22,' Additional Information SKILLS: - Bilingual- ...,"' Facebook', ' Introvertblogs.com', ' Uber & L...","' Mountain View, CA'",""" Bachelor's""",""" Experienced Driver with a demonstrated histo...","' Accounting', '4 years', ' Coding - Python, J...",5,' Product Data Analyst',' San Francisco State University',' Product Data Analyst Facebook - Product Data...,...,' Business Administration - Accounting',Analyst,Additionals,'B',1,0,0,1,0,0
23,' Additional Information SET: Clarity Data Mod...,"' Health Minute Clinic', ' Duke University Hea...","' Woonsocket, RI'",""" Master's""",' 14 Years of Information Technology experienc...,"' Data', ' ADT', '7 years', ' Crystal Reports'...",15,' Lead \\ Data Warehouse Developer','',""" Lead \\ Data Warehouse Developer Sr. \\ Data...",...,,Engineer,Additionals,'M',0,1,0,0,1,0
24,' Additional Information Demonstrated ability ...,"' Cognizant Technologies', ' Bank of America',...",'',' Diploma',' To obtain a position in a professional envir...,' Criminal Justice',14,' Data Analyst',"' Stepping Stones High School Tampa', ' Hillsb...","' Data Analyst Tampa, FLTo obtain a position i...",...,,Analyst,Additionals,'D',0,0,0,1,0,0
25,NaN,"' J. Lodge, LLC', ' Borough of Catasauqua', ' ...",'',,'error',,19,' Database Quality Analyst',,""" Database Quality Analyst Database Quality An...",...,,Analyst,Skills,'',0,0,0,1,0,0
26,' Additional Information Utilizes computer sav...,""" Sean's Consulting and Services"", "" Sean's Co...","' Birmingham, AL'","' Master of Arts', ' Bachelor of Science'",'error',,6,' Data Analyst',' University of Alabama - Manderson Graduate S...,' Data Analyst Systems Administrator - Sean\'s...,...,"' Economics', ' Commerce & Business Administra...",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
27,' Additional Information Computer Skills: Prof...,"' Internal Audit', ' Oracle Cloud Analytics Ca...","' Santa Clara, CA'","' Master of Science', ' BS'",'error',"' SAS', '1 year', ' Serial Attached SCSI', '1 ...",5,' Data Analyst Intern',"' California Polytechnic State University', ' ...",' Data Analyst Intern Data Analyst Intern - In...,...,"' Business Analytics', ' Statistics'",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
28,' Additional Information SKILLSDesktop Publish...,"' AMERICA', ' AGENCY', ' UNIVERSITY', ' UNIVER...","' Boston, MA'","' Master of Public Administration', ' Master o...",""" I'm a researcher and practitioner who is com...","' Data', ' Data', ' Data', ' Tableau', '2 year...",5,' Data Analyst',"' UNIVERSITY', ' UNIVERSITY', ' PESHAWAR'",' Data Analyst Data Analyst / Policy Analyst B...,...,"' Data Analytics and Urban Informatics', ' Pub...",Analyst,Additionals,"'M', 'M', 'B'",1,2,0,1,0,0
30,' Additional Information SKILLSDeveloping Stra...,"' STATE_ LABOR- Unemployment Insurance', ' _ -...","' Albany, NY'",' ENGINEERING',' To work with an organization that is onor lo...,"' MARKETING', '10+ years', ' Product designing...",17,' Director of Projects- Data Analytics Predict...,' MUMBAI',' Director of Projects- Data Analytics Predict...,...,' ENGINEERING',Analyst,Additionals,'E',0,0,0,1,0,0
31,NaN,"' Hewlett Packard Inc', ' Sasol North America'...","' Houston, TX'",' M. Sc.',' Data Engineering using algorithms in Databri...,"' Python', ' Less than 1 year', ' Machine Lear...",13,' Data Science Business Analyst',' Texas A& University',' Data Science Business Analyst Data Science B...,...,' Analytics',Scientist,Skills,'M',0,1,0,0,0,1
32,"' Additional Information PUBLICATIONJin, H., W...","' Acumen LLC', ' UNIVERSITY', '', ' Columbia U...","' San Francisco, CA'","' Master of Science', ' Bachelor of Science'",'error',"' In-depth knowledge of R, SAS, familiarity wi...",4,' Data and Policy Analyst / Intern',"' UNIVERSITY, Mailman School of Public Health'...",""" Data and Policy Analyst / Intern HEALTHBurli...",...,"' Biostatistics', ' Biology'",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24732,' Additional Information Statistical Data Anal...,"' Context Business Intelligence, Princeton, Ne...","' Princeton, NJ'","' M. S.', ' M. S.', ' B. S.'","' An innovative, energetic, focused and result...","' C, C++, SQL, MATLab, SAS, Minitab, SPSS, R, ...",22,' Senior Analyst/ Big Data',"' State University of New York', ' Indian Stat...",""" Senior Analyst/ Big Data Senior Analyst - Re...",...,"' Computer and Information Science', ' Statist...",Engineer,Additionals,"'M', 'M', 'B'",1,2,0,0,1,0
24733,NaN,"' J. Morgan Chase', ' The University of Texas'...",'',' M. S.','error',"' Tableau', ' Less than 1 year', ' Excel', ' L...",6,' Business Data Analyst',' The University of Texas at Dallas',' Business Data Analyst Business Data Analyst ...,...,' Systems Engineering and Management',Analyst,Links,'M',0,1,0,1,0,0
24734,' Additional Information COMPETENCIESChief Dat...,"' - Watson Data Platform and Group', ' Enterpr...",' Data',' Project Management Professional certificatio...,'error',"' Data', ' Data', ' Data', ' GOVERNANCE', ' DA...",24,"' Executive Director and Associate Partner, En...","' Project Management institute', ' Penn State ...",""" Executive Director and Associate Partner, En...",...,"' Certification - PMP', ' Enterprise Architect...",Analyst,Additionals,"'P', 'C', 'M', 'B'",1,1,1,1,0,0
24735,NaN,"' Ocean X', ' Guthy', ' The Walt Disney Compan...",'',,' 10 + years of experience designing and devel...,' Data',11,' Sr Data Management Engineer ( Senior/ Lead L...,,' Sr Data Management Engineer ( Senior/ Lead L...,...,,Engineer,Exp,'',0,0,0,0,1,0
24736,"' Additional Information Visualization: d3.js,...","' The Sphere Institute', ' Math Works', ' Wipr...","' Burlingame, CA'","' Master of Science', "" Bachelor's""",'error',"' Data', ' Data', ' Data', ' Javascript', '6 y...",6,' Data Visualization Engineer',"' Indiana University', ' Sri Krishna College o...",""" Data Visualization Engineer Data Visualizati...",...,"' Data Science', ' Information Technology'",Engineer,Additionals,"'M', 'B'",1,1,0,0,1,0
24737,' Additional Information SKILLSWord Processing...,' Bridge Point Hospital & Sub- Acute and Rehab...,"' Washington, DC'","' M. S.', ' Licensed Practical Nurse', ' B. S.'","' Proactive, performance-driven highly-skilled...","' OFFICE', '10+ years', '60 WPM', '10+ years',...",18,' Quality Data Analyst/ Coordinator',"' Cappella University', ' Education Center', '...",""" Quality Data Analyst/ Coordinator Healthcare...",...,"' Human Services', ' Nursing', ' Biology'",Analyst,Additionals,"'M', 'L', 'B'",1,1,0,1,0,0
24739,NaN,"' Midas Recovery Service', ' Malek Medical', ""...","' La Mirada, CA'",'error','error',,12,' Lien Analyst/ Data Specialist','error',""" Lien Analyst/ Data Specialist Norwalk, CAWor...",...,'error',Analyst,Education,'r',0,0,0,1,0,0
24740,'/ Licensesn/a',"' Index Analytics', ' Northrop Grumman', ' Con...","' Baltimore, MD'",' Certificate in Accounting',' 4 years of experience creating and updating ...,"'planning', ' Microsoft – Word, Excel, Access,...",21,' Data Analyst',"' Chelyabinsk State Technical University', ' I...",""" Data Analyst Data Analyst - Index Analytics ...",...,,Analyst,Other,'C',0,0,0,1,0,0
24743,' Additional Information Skills Proficient in:...,"' Interior Woodworking Specialists', ' Univers...","' Redmond, WA'",' Bachelor of Science','error',"' C++', ' Less than 1 year', ' HTML', ' Less t...",4,' Data Analyst ( Freelance)',' University of Idaho',' Data Analyst ( Freelance) Data Analyst ( Fre...,...,"' Mathematics, Computer Science'",Analyst,Additionals,'B',1,0,0,1,0,0
24746,' Additional Information SKILLSData Analysis: ...,"' University of Illinois at Chicago', ' Beyond...","' Chicago, IL'","' Masters in Management Information Systems', ...",' 5+ years of experience in programming skills...,"'database', ' Less than 1 year', ' GROUP', ' L...",6,' Data Analyst Associate',"' University of Illinois at Chicago', ' Amity ...",' Data Analyst Associate Data Analyst Associat...,...,"' Management Information Systems', ' Computer ...",Analyst,Additionals,"'M', 'B'",1,1,0,1,0,0
24747,NaN,"' Dominion Energy Transmission, Inc', ' Domini...","' Richmond, VA'","' Graduate Certificate', ' Bachelor of Arts'",'error',,7,' Marketing Data Scientist',"' Pennsylvania State College, Graduate School ...",""" Marketing Data Scientist Marketing Data Scie...",...,"' Applied Statistics', ' Mathematics'",Scientist,Education,"'G', 'B'",1,0,0,0,0,1
24748,' Additional Information Expertise - Cisco rou...,"' Atos/ Walt Disney Company', ' Macquarie Grou...","' Burbank, CA'",' Masters of Science in Information Technology...,"' Customer focused, results-driven and goal-or...","' CISCO', '10+ years', ' FIREWALLS', '9 years'...",16,' Lead Data Center Engineer/ Senior Network En...,"' De La Salle University', ' University of the...",""" Lead Data Center Engineer/ Senior Network En...",...,"' Information Technology', ' Computer Engineer...",Engineer,Additionals,"'M', 'B'",1,1,0,0,1,0
24749,' Additional Information Technical Skills Lang...,"' WAGEWORKS, INC', ' HEALTHCARE', ' Ottawa Uni...","' Tempe, AZ'",' Bachelor of Arts','error',"' SHAREPOINT', '6 years', ' SERVER', '6 years'...",12,' Data Integration Engineer',' Ottawa University',""" Data Integration Engineer Data Integration E...",...,' Information Technology',Engineer,Additionals,'B',1,0,0,0,1,0
24750,' Additional Information & ABILITIESData Analy...,"' Dyn Pro - Contracting for the CDC', ' Metabo...","' Research Triangle Park, NC'",' Master of Science','error',"' Computer Science', ' RESEARCH', ' SERVER', '...",12,' Data Scientist',"' Southern New Hampshire University', ' Florid...",""" Data Scientist Data Scientist Raleigh, NCAut...",...,,Scientist,Additionals,'M',0,1,0,0,0,1
24751,NaN,"' Healthstream, Inc', ' Wells Fargo', ' Clark ...","' Nashville, TN'",' BA','error',"' SQL', '10+ years', ' Ms Office Suite', '10+ ...",13,' Data/ Survey Analyst',' Clark College',"' Data/ Survey Analyst Nashville, TNAuthorized...",...,,Analyst,Skills,'B',1,0,0,1,0,0
24752,'/ Licenses Certified Administrator ( HDPCA) F...,"' Optum Analytics', ' Zaloni - Raliegh', ' Ins...","' Boston, MA'",""" Master's""",'error',,7,' Senior Big Data Administrator',"' Rochester Institute of Technology', ' Osmani...",""" Senior Big Data Administrator - Optum Analyt...",...,,Engineer,Other,'M',0,1,0,0,1,0
24753,' Additional Information Summary of Skills Exc...,"' Technologies', ' Wave Broadband', ' Randstad...","' Bothell, WA'",' Bachelor of Science',' My goal is to build a career in the tech fie...,,3,' Visual Data Scientist',' University of Washington',""" Visual Data Scientist Data Analyst Bothell, ...",...,' Computing and Software Systems',Scientist,Additionals,'B',1,0,0,0,0,1
24754,' Additional Information Computer Skills Very ...,"' Coty Inc', ' NYU', ' Xaxis, Programmatic Adv...","' Brooklyn, NY'","' Master', ' Master of Science'",'error',"' ACCESS', '5 years', ' ACCESS', '5 years', ' ...",17,' Data Administration Analyst',"' Gujarat University', ' University of Abertay...",' Data Administration Analyst Finance Analyst ...,...,' Computer Applications',Analyst,Additionals,"'M', 'M'",0,2,0,1,0,0